#bottom-nav {
    padding-left: 20%;
    padding-right: 20%;
}

#titleImage {
    width: 90%;
    height: auto;
}

.container {
    padding: 30px;

}

.col-3 {
    text-align: center;
    padding: 10px;
    font-size: large;
    border: 3px solid grey;
}

#Friends {
    font-size: 7vh;
}

#friendList .row:nth-child(2n+1) {
    border: 1px solid black;
    margin-left: 2vw;
    margin-right: 2vw;
}

h2 {
    font-size: 8vw;
    text-align: center;
}

.inputTitles {
    font-size: 5vw;
    padding-bottom: 10vh;
    font-weight: bold;
}

#center {
    text-align: center;
}

.submitButton {
    background-color: black;
    color: grey;
}

.inputBox {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: rgb(214, 0, 0);
    color: black;
}

.inputBox::placeholder {
    color: rgb(0, 0, 0);
}

.inputPage {
    background-color: grey;
}

#inputtitle {
    color: rgb(185, 0, 0);
}

.content {
    background-color: gray;
}
